{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AHP</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="main-page">
      <div class="main">
        <div class="main-container">
          <form name="pie-form" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="main-label">
              <h2>🏆Выбор лидера</h2>
            </div>
            <div class="main-table">
              <table>
                <tr>
                  <th colspan="5">🎯Матрица критериев</th>
                </tr>
                <tr>
                  <th>Критерии</th>
                  <th>Опыт</th>
                  <th>Образование</th>
                  <th>Харизма</th>
                  <th>Возраст</th>
                </tr>
                <tr>
                  <td>Опыт</td>
                  <td><input class="no_change" type="text" value="1" readonly="readonly"/></td>
                  <td><input type="number" placeholder="Соотношение" value="4" name="crit1"/></td>
                  <td><input type="number" placeholder="Соотношение" value="3" name="crit2"/></td>
                  <td><input type="number" placeholder="Соотношение" value="7" name="crit3"/></td>
                </tr>
                <tr>
                  <td>Образование</td>
                  <td></td>
                  <td><input class="no_change" type="text" value="1" readonly="readonly"/></td>
                  <td><input type="number" placeholder="Соотношение" value="0.33" name="crit4"/></td>
                  <td><input type="number" placeholder="Соотношение" value="3" name="crit5"/></td>
                </tr>
                <tr>
                  <td>Харизма</td>
                  <td></td>
                  <td></td>
                  <td><input class="no_change" type="text" value="1" readonly="readonly"/></td>
                  <td><input type="number" placeholder="Соотношение" value="5" name="crit6"/></td>
                </tr>
                <tr>
                  <td>Возраст</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><input class="no_change" type="text" value="1" readonly="readonly"/></td>
                </tr>
              </table>
            </div>
            <table>
              <tr>
                <th colspan="4">Матрица Опыта</th>
              </tr>
              <tr>
                <th>Опыт</th>
                <th>Михаил</th>
                <th>Николай</th>
                <th>Сергей</th>
              </tr>
              <tr>
                <td>Михаил</td>
                <td><input class="no_change" type="text" value="1" readonly="readonly"/></td>
                <td><input type="number" placeholder="Соотношение" value="0.25" name="exp1"/></td>
                <td><input type="number" placeholder="Соотношение" value="4"  name="exp2"/></td>
              </tr>
              <tr>
                <td>Николай</td>
                <td></td>
                <td><input class="no_change" type="text" value="1" readonly="readonly"/></td>
                <td><input type="number" placeholder="Соотношение" value="9" name="exp3"/></td>
              </tr>
              <tr>
                <td>Сергей</td>
                <td></td>
                <td></td>
                <td><input class="no_change" type="text" value="1" readonly="readonly"/></td>
              </tr>
            </table>
            <table>
              <tr>
                <th colspan="4">Матрица Образования</th>
              </tr>
              <tr>
                <th>Опыт</th>
                <th>Михаил</th>
                <th>Николай</th>
                <th>Сергей</th>
              </tr>
              <tr>
                <td>Михаил</td>
                <td><input class="no_change" type="text" value="1" readonly="readonly"/></td>
                <td><input type="number" placeholder="Соотношение" value="3" name="edu1"/></td>
                <td><input type="number" placeholder="Соотношение" value="0.2" name="edu2"/></td>
              </tr>
              <tr>
                <td>Николай</td>
                <td></td>
                <td><input class="no_change" type="text" value="1" readonly="readonly"/></td>
                <td><input type="number" placeholder="Соотношение" value="0.1428" name="edu3"/></td>
              </tr>
              <tr>
                <td>Сергей</td>
                <td></td>
                <td></td>
                <td><input class="no_change" type="text" value="1" readonly="readonly"/></td>
              </tr>
            </table>
            <table>
              <tr>
                <th colspan="4">Матрица Харизма</th>
              </tr>
              <tr>
                <th>Опыт</th>
                <th>Михаил</th>
                <th>Николай</th>
                <th>Сергей</th>
              </tr>
              <tr>
                <td>Михаил</td>
                <td><input class="no_change" type="text" value="1" readonly="readonly"/></td>
                <td><input type="number" placeholder="Соотношение" value="5" name="char1"/></td>
                <td><input type="number" placeholder="Соотношение" value="9" name="char2"/></td>
              </tr>
              <tr>
                <td>Николай</td>
                <td></td>
                <td><input class="no_change" type="text" value="1" readonly="readonly"/></td>
                <td><input type="number" placeholder="Соотношение" value="4" name="char3"/></td>
              </tr>
              <tr>
                <td>Сергей</td>
                <td></td>
                <td></td>
                <td><input class="no_change" type="text" value="1" readonly="readonly"/></td>
              </tr>
            </table>
            <table>
              <tr>
                <th colspan="4">Матрица Возраст</th>
              </tr>
              <tr>
                <th>Опыт</th>
                <th>Михаил</th>
                <th>Николай</th>
                <th>Сергей</th>
              </tr>
              <tr>
                <td>Михаил</td>
                <td><input class="no_change" type="text" value="1" readonly="readonly"/></td>
                <td><input type="number" placeholder="Соотношение" value="0.33" name="age1"/></td>
                <td><input type="number" placeholder="Соотношение" value="5" name="age2"/></td>
              </tr>
              <tr>
                <td>Николай</td>
                <td></td>
                <td><input class="no_change" type="text" value="1" readonly="readonly"/></td>
                <td><input type="number" placeholder="Соотношение" value="9" name="age3"/></td>
              </tr>
              <tr>
                <td>Сергей</td>
                <td></td>
                <td></td>
                <td><input class="no_change" type="text" value="1" readonly="readonly"/></td>
              </tr>
            </table>
            
            <div class="submtin-btn-div">
                  <input class="submtin-btn" type="submit" value="Выбрать лидера"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
