{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Результат вычеслений</title>
</head>
<body>
    <div class="main-result">
        <div class="result-label"><h2>✅Решение</h2></div>
        <div class="result-profit">Лучший работник: <b>{{ best_emp }}</b></div>
        <div class="result-profit">Весы работников:
            {% for item in emp_weights %}
                <b>{{item.0}}: {% widthratio item.1 1 100 %}%, </b>
            {% endfor %}
            </div>
        <div class="result-profit">Весы критериев:
            {% for item in criteria_weights %}
                {% if item.0 == 'Experience' %}
                    <b>Опыт: {% widthratio item.1 1 100 %}%, </b>
                {% endif %}
                {% if item.0 == 'Charisma' %}
                    <b>Харизма: {% widthratio item.1 1 100 %}%, </b>
                {% endif %}
                {% if item.0 == 'Education' %}
                    <b>Образование: {% widthratio item.1 1 100 %}%, </b>
                {% endif %}
                {% if item.0 == 'Age' %}
                    <b>Возраст: {% widthratio item.1 1 100 %}%, </b>
                {% endif %}
            {% endfor %}
        </div>
        <a href="../" class="back-btn">Назад</a>
    </div>
</body>
</html>